#player-register-btn {
    margin-top : 10px;
    width : 50%;
    margin-left: auto;
    margin-right: auto;
    display : block;
}

th, td {
    text-align: center;
}

a, u {
    text-decoration: none !important;
}

#signup-warning-text {
    color : red;
    display : none;
}

.signup-field {
    margin-bottom : 10px;
}

#loginFailText, #loginFieldEmptyText {
    display : none;
    color : antiquewhite;
}

input.set-score {
    text-align: center;
}

#score-register-table {
    margin : 0 auto;
}

#register-score {
    width : 100%;
}

.personal-opponent-info {
    margin-bottom : 40px;
}