#player-register-btn {
    margin-top : 10px;
    width : 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
}

a, u {
    text-decoration: none !important;
}

#playerPwd {
    margin-top : 10px;
}

#loginFailText {
    color : antiquewhite;
}

input.set-score {
    text-align: center;
}

#score-register-table {
    margin : 0 auto;
}

#register-score {
    width : 100%;
}