<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PingPong NEXT</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if 'player_id' in session %}
            <ul class="nav navbar-nav navbar-right after_signin">
                <li><a href="/result">결과 등록</a></li>
                <li><a id="href-personal-page" href="/players/{{ session.player_id }}">내 기록 확인</a></li>
                <li><a href="{{ url_for('players.logout') }}">로그아웃</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right after_signin" style="display : none;">
                <li><a href="/result">결과 등록</a></li>
                <li><a id="href-personal-page" href="/players/{{ session.player_id }}">내 기록 확인</a></li>
                <li><a href="{{ url_for('players.logout') }}">로그아웃</a></li>
            </ul>
            <form id="login-form" method="post" class="navbar-form navbar-right before_signin" role="form" action="{{ url_for('players.login')}}">
                <span id="loginFailText">로그인에 실패하였습니다.</span>
                <span id="loginFieldEmptyText">선수 이름과 비밀번호를 입력하세요.</span>
                <div class="form-group">
                    <input id="loginPlayerName" name="playerName" type="text" placeholder="선수 이름" class="form-control">
                </div>
                <div class="form-group">
                    <input id="loginPlayerPwd" name="playerPassword" type="password" placeholder="비밀번호" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">로그인</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>